* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    background-color: #eee;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: fixed;
    width: auto;
    background-color: #eee;
}

#header>img {
    width: 30%;
}

#nav-bar>ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-link {
    text-decoration: none;
}
footer{
    background-color: #ddd;
}

#pricing {
    display: flex;
    width: 700px;
    margin: auto;
}

#pricing > div > .head {
    background-color: #ddd;
}

#pricing > div {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    line-height: 2;
    border: 1px solid;
}
main{
    padding: 5rem;
}
#submit{
    background-color: #f1c40f;

}
form{
    display: block;
    margin: 1rem;
}