* {
    background-color: #eee;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: fixed;
    width: auto;
}

#header>img {
    width: 30%;
}

#nav-bar>ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-link {
    text-decoration: none;
}
footer{
    background-color: #ddd;
    

}